.item-enter {
  opacity: 0;
  transform: translateX(50%);
}
.item-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms;
}

.item-exit {
  opacity: 1;
  transform: translateX(0);
}

.item-exit-active {
  opacity: 0;
  transform: translateX(-50%);
  transition: all 500ms;
}
